.profile-container h1,
.profile-container h2,
.profile-container .basic-info {
  text-align: center;
}

.profile-container .posts-container {
  position: relative;
}

.profile-container .basic-info,
.profile-container .posts-container {
  margin-top: 50px;
}

.profile-container .posts-container .posts {
  padding-top: 0;
}
