.post-list-container {
  .no-posts {
    display: flex;
    align-items: center;
    flex-direction: column;

    p {
      margin: 8px 0;
    }
  }

  .posts {
    display: grid;
    justify-content: center;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
    grid-gap: 2rem;

    .paginate-button-container {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 120px;
    }
  }
}
