@import "./styles/breakpoint-mixins";

:root {
  --color1: #062c58;
  --color2: #1d5190;
  --color3: #5a81af;

  --side-bar-width: 72px;
}

@include tablet-and-larger {
  :root {
    --side-bar-width: 270px;
  }
}

* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  scrollbar-width: thin;

  body {
    margin: 0;
    padding: 0;

    .app {
      display: flex;
      align-items: stretch;
      flex-direction: column;
      width: 100%;
      height: auto;
      min-height: 100vh;
      padding-left: var(--side-bar-width);

      .content {
        position: relative;
      }
    }
  }
}
