:root {
  --color1: #062c58;
  --color2: #1d5190;
  --color3: #5a81af;

  --nav-bar-height: 51px;
}

* {
  box-sizing: border-box;
}

.App {
  display: flex;
  width: 100%;
  height: auto;
  min-height: 100vh;
  flex-direction: column;
  align-items: stretch;
}

body {
  margin: 0;
  padding: 0;
}

.content {
  position: relative;
  padding-top: var(--nav-bar-height);
}
