:root {
  --color1: #062c58;
  --color2: #1d5190;
  --color3: #5a81af;

  --nav-bar-height: 51px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  width: 100%;
  height: auto;
  min-height: 100vh;
  flex-direction: column;
  align-items: stretch;
}

.content {
  position: relative;
  padding-top: var(--nav-bar-height);
}

button {
  border: none;
  background-color: var(--color2);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-family: monospace;
  font-weight: bold;
  padding: 12px 16px;
}

button[disabled] {
  background-color: dimgray;
}

button:hover {
  background-color: var(--color1);
}

button[disabled]:hover {
  background-color: dimgray;
  cursor: not-allowed;
}
