form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  font-weight: bold;
}

input {
  height: 40px;
  margin-top: 4px;
  margin-bottom: 12px;
  border: 2px solid var(--color2);
  border-radius: 5px;
  padding-left: 10px;
  font-size: 16px;
}

textarea {
  height: 120px;
  font-family: sans-serif;
  margin-top: 4px;
  margin-bottom: 12px;
  border: 2px solid var(--color2);
  border-radius: 5px;
  padding-left: 10px;
  font-size: 16px;
}

form .error {
  color: red;
}
