.container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
}

.container .column {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
}

.container .comments-container {
  flex: 20%;
  width: 100%;
  display: grid;
  place-items: center;
  align-items: flex-start;
}
