@import "../../../styles/breakpoint-mixins";

.side-bar-link-container {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 55px;
  padding: 16px 24px;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  color: white;

  .side-bar.closed & {
    .text {
      opacity: 0;
    }
  }

  @include tablet-and-larger {
    padding: 16px 24px;
    text-align: unset;
  }

  &.active {
    background: var(--color2);
  }

  &:hover {
    background: var(--color3);
  }

  .text {
    margin-left: 12px;

    @include until-tablet {
      opacity: 0;
    }
  }
}
