:root {
  --toggle-width: 56px;
  --toggle-height: 28px;
  --toggle-slider-gap: 3px;

  --toggle-slider-size: calc(
    var(--toggle-height) - 2 * var(--toggle-slider-gap)
  );
  --toggle-slider-translate: calc(var(--toggle-width) - var(--toggle-height));
}

.toggle-container {
  position: relative;
  display: inline-block;
  width: var(--toggle-width);
  height: var(--toggle-height);
  margin-top: 4px;
  margin-bottom: 12px;
}

.toggle-container input {
  width: 0;
  height: 0;
  opacity: 0;
}

.toggle-container .slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: var(--toggle-height);
  background-color: dimgray;
}

.toggle-container .slider:before {
  position: absolute;
  bottom: var(--toggle-slider-gap);
  left: var(--toggle-slider-gap);
  width: var(--toggle-slider-size);
  height: var(--toggle-slider-size);
  content: "";
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
  background-color: white;
}

.toggle-container input:checked + .slider {
  background-color: var(--color3);
}

.toggle-container input:focus + .slider {
  box-shadow: 0 0 1px var(--color3);
}

.toggle-container input:checked + .slider:before {
  -ms-transform: translateX(var(--toggle-slider-translate));
  -webkit-transform: translateX(var(--toggle-slider-translate));
  transform: translateX(var(--toggle-slider-translate));
}
