.add-comment-container input,
.add-comment-container button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
}

.add-comment-container button {
  background-color: var(--color1);
  color: white;
  cursor: pointer;
}

.add-comment-container input {
  border: 2px solid var(--color1);
}
