.post {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  overflow: hidden;
  font-family: monospace;
  word-break: break-word;
}

.post:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  cursor: pointer;
}

.post .title {
  font-weight: bold;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 32px;
  background-color: var(--color1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  padding: 4px 8px;
}

.post .title span {
  color: white;
}

.post .title .actions {
  display: flex;
  align-items: center;
}

.post .title .actions .action {
  width: 24px;
  height: 24px;
  padding: 4px;
  color: white;
  border-radius: 50%;
  text-align: center;
}

.post.large .title .actions .action {
  width: 44px;
  height: 44px;
  padding: 10px;
  font-size: 20px;
  margin-left: 4px;
}

.post .title .actions .action:hover {
  background-color: var(--color2);
}

.post:not(.large) .title span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.post .body {
  flex: 100% 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-family: fantasy;
  white-space: pre-wrap;
}

.post .body .tags {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  align-items: center;
  gap: 12px;
}

.post .body .tags .tag {
  text-decoration: none;
}

.post .body .tags .tag {
  color: var(--color1);
  font-weight: bold;
}

.post .body .tags .tag:hover {
  color: var(--color3);
  cursor: pointer;
}

.post .body .post-text {
  display: flex;
  flex: 100% 1;
  align-items: center;
}

.post .body p {
  margin: 0;
}

.post:not(.large) .body p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.post:not(.large) .body .tags + .post-text p {
  -webkit-line-clamp: 5;
}

.post .footer {
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color3);
  color: white;
  padding: 4px 8px;
}

.post.large .footer .likes {
  font-size: 20px;
}

.post .footer .likes.active {
  color: var(--color1);
}

.post.large {
  min-width: 300px;
  max-width: 600px;
  min-height: 400px;
}

.post.large .title {
  font-size: 28px;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 50px;
}

.post.large .footer {
  font-size: 28px;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 30px;
}

.post.large .body {
  font-size: 25px;
}
