.post {
  width: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color2);
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  overflow: hidden;
  font-family: monospace;
}

.post:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  cursor: pointer;
}

.post .title {
  font-weight: bold;
  flex: 36px;
  border-bottom: 1px solid var(--color2);
  background-color: var(--color3);
  display: grid;
  place-content: center;
  color: white;
  text-transform: uppercase;
}

.post .body {
  flex: 60%;
  display: grid;
  place-content: center;
  padding: 20px;
  font-family: fantasy;
}

.post .footer {
  flex: 28px;
  border-top: 1px solid var(--color2);
  display: flex;
  align-items: center;
  padding-left: 15px;
  background-color: var(--color2);
  color: white;
}

.post.large {
  width: 600px;
  height: 400px;
}

.post.large .title {
  font-size: 28px;
  flex: 60px;
}

.post.large .footer {
  font-size: 28px;
  flex: 36px;
}

.post.large .body {
  font-size: 25px;
}
