.posts {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
  grid-gap: 2rem;
  justify-content: center;
  padding: 48px 24px;
}

.no-posts {
  text-align: center;
}
