.form-page .alternative-auth-container {
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 24px;
}

.form-page .alternative-auth-container .description {
  color: gray;
}

.form-page .alternative-auth-container a {
  font-weight: bold;
  margin-top: 4px;
  margin-left: 5px;
  color: black;
}
