.post-form-page {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.post-form-page .form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 500px;
  height: auto;
  padding: 20px;
  border: 5px solid var(--color2);
  border-radius: 5px;
}

.post-form-page .form-container label {
  font-weight: bold;
}

.post-form-page .form-container .input {
  height: 40px;
  margin-top: 4px;
  margin-bottom: 12px;
  border: 2px solid var(--color2);
  border-radius: 5px;
  padding-left: 10px;
  font-size: 16px;
}

.post-form-page .form-container .textarea {
  height: 120px;
  font-family: sans-serif;
}

.post-form-page .form-container button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: var(--color2);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-family: monospace;
  font-weight: bold;
}

.post-form-page .form-container button:hover {
  background-color: var(--color1);
}

.post-form-page .form-container span {
  color: red;
}
