.tag-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 12px;
  cursor: pointer;
  border-radius: 16px;
  background: var(--color3);

  &:hover {
    background: var(--color1);
  }

  &.active {
    background: var(--color2);
  }

  .tag-text {
    color: white;

    & + .tag-icon {
      margin-right: -4px;
      margin-left: 4px;
      padding: 2px 2px;
      color: black;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
