.search-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .search-container {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    width: 100%;
    max-width: 400px;

    .tag-container {
      align-self: center;
      margin-top: 8px;
    }
  }

  .results-container {
    position: relative;
    width: 100%;

    .posts-results {
      .post-list-container {
        align-self: stretch;

        .no-posts {
          margin-top: 20px;
        }
      }
    }
  }
}
