@import "../../../styles/breakpoint-mixins";

.nav-bar-link-container {
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
  height: 100%;
  padding: 16px 24px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;

  @include until-tablet {
    padding: 16px;
  }

  &:hover {
    background: var(--color1);
  }

  .text {
    @include until-tablet {
      display: none;
    }
  }
}
