.profile-container h1,
.profile-container h2,
.profile-container .basic-info {
  text-align: center;
}

.profile-container .posts-container {
  position: relative;
}

.profile-container .basic-info,
.profile-container .posts-container {
  margin-top: 50px;
}

.profile-container .posts-container .posts {
  padding-top: 0;
}

.action-btn {
  background: var(--color2);
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  font-family: monospace;
  text-transform: uppercase;
  font-weight: bold;
}

.action-btn:hover {
  cursor: pointer;
  background: var(--color1);
}
