.create-post-page {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 500px;
  height: auto;
  padding: 20px;
  border: 5px solid var(--color2);
  border-radius: 5px;
}

.form-container .input {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid var(--color2);
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}

.form-container button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: var(--color1);
  border-radius: 5px;
  color: white;
}

.form-container button:hover {
  cursor: pointer;
  background-color: var(--color3);
}

span {
  color: red;
}
