.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: var(--color2);
  height: 60px;
}

.links a {
  height: 100%;
  box-sizing: border-box;
  padding: 20px 28px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: monospace;
  text-decoration: none;
  color: white;
}

.links a:hover {
  background: var(--color1);
}
