@import "../../styles/breakpoint-mixins";

.nav-bar-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: var(--nav-bar-height);
  background: var(--color2);

  .column {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 100%;

    .welcome-msg {
      margin: 0 28px 0 0;
      color: white;

      @include phone {
        display: none;
      }

      @include desktop {
        display: none;
      }
    }
  }
}
