.links {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: var(--nav-bar-height);
  background: var(--color2);
}

.links > div {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100%;
}

.links > div > h2 {
  margin: 0 28px 0 0;
  color: white;
}

.links > div > a {
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
  height: 100%;
  padding: 16px 24px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.links > div > a:hover {
  background: var(--color1);
}

@media all and (max-width: 768px) {
  .links > div > a {
    padding: 16px;
  }

  .links > div > a > span {
    display: none;
  }
}

@media all and (max-width: 1024px) {
  .links > div > h2 {
    display: none;
  }
}
