.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: var(--color2);
}

.links > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.links > div > h2 {
  color: white;
  margin: 0 28px 0 0;
}

.links > div > a {
  height: 100%;
  padding: 16px 24px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: monospace;
  text-decoration: none;
  color: white;
}

.links > div > a:hover {
  background: var(--color1);
}

@media all and (max-width: 768px) {
  .links > div > a {
    padding: 16px;
  }

  .links > div > a > span {
    display: none;
  }
}

@media all and (max-width: 480px) {
  .links > div > h2 {
    display: none;
  }
}
