button {
  font-family: monospace;
  font-weight: bold;
  padding: 12px 16px;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
  border: none;
  border-radius: 5px;
  background: var(--color2);

  &:hover {
    background: var(--color1);
  }

  &.secondary {
    color: var(--color2);
    border: 1px solid var(--color2);
    background: none;

    &:hover {
      color: #ffffff;
      border: 1px solid var(--color3);
      background: var(--color3);
    }
  }

  &[disabled] {
    color: #d2d2d2;
    border: none;
    background: dimgray;

    &:hover {
      cursor: not-allowed;
      color: #d2d2d2;
      border: none;
      background: dimgray;
    }
  }

  &.round {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }

  &.no-border {
    border: none !important;
  }
}
