form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .error {
    color: red;
  }
}

label {
  font-weight: bold;
}

@mixin typing-element() {
  font-size: 16px;
  margin-top: 4px;
  margin-bottom: 12px;
  padding-left: 10px;
  border: 2px solid var(--color2);
  border-radius: 5px;
}

input {
  @include typing-element();
  height: 40px;
}

textarea {
  @include typing-element();
  font-family: sans-serif;
  height: 120px;
}
